@page "/mission"

<h3 class="text-center mb-4">Our Mission</h3>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="images/vibrant.jpg" alt="Mission Image 1" class="img-fluid rounded mb-4" />
        </div>
        <div class="col-md-6">
            <p>At F&A Restaurant, our mission is to provide an exceptional dining experience that transcends expectations. We are dedicated to crafting delicious and innovative dishes using the finest ingredients, ensuring a memorable and satisfying experience for our guests.</p>

            <p>We aim to create a welcoming and vibrant environment where guests can indulge in culinary delights, share moments with loved ones, and create lasting memories. Our mission is rooted in a passion for food, hospitality, and a commitment to exceeding the expectations of our valued patrons.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 order-md-2">
            <img src="images/diversity.jpg" alt="Mission Image 2" class="img-fluid rounded mb-4" />
        </div>
        <div class="col-md-6 order-md-1">
            <p>We strive to be a culinary hub that celebrates diversity in flavors and culinary traditions. Our mission is to offer a menu that caters to various palates, ensuring that every guest finds something delightful to savor.</p>

            <p>Join us on our mission to create a culinary destination where passion for food meets unparalleled service. We look forward to providing you with an unforgettable dining experience that reflects our commitment to excellence.</p>
        </div>
    </div>
</div>

<style>
    img {
        max-width: 100%;
        height: auto;
    }

    h3 {
        color: #6a48b5; /* Lighter purple color */
    }

    p {
        line-height: 1.6;
    }
</style>
