@page "/customers/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Customers</h3>
<hr />
<br />

<EditForm Model="@customer" OnValidSubmit="CreateCustomer">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Name: </label>
        <div>
            <InputText @bind-Value="customer.CustomerName" class="form-control" />
            <ValidationMessage For="@(() => customer.CustomerName)" />
        </div>
    </div>

    <div class="form-group">
        <label>Contact: </label>
        <div>
            <InputText @bind-Value="customer.CustomerContact" class="form-control" pattern="[0-9]{8}" title="Please enter a valid number with a maximum length of 8 digits" />
            <ValidationMessage For="@(() => customer.CustomerContact)" />
        </div>
    </div>

    <div class="form-group">
        <label>Email: </label>
        <div>
            <InputText @bind-Value="customer.CustomerEmail" class="form-control" input type="email" title="Please enter a valid email address" required />
            <ValidationMessage For="@(() => customer.CustomerEmail)" />
        </div>
    </div>

    <button type="submit" class="btn btn-success btn-block">
        Create Customer
    </button>
</EditForm>

@code {
    Customer customer = new Customer();

    private async Task CreateCustomer()
    {
        await _client.PostAsJsonAsync(Endpoints.CustomersEndpoint, customer);
        _navManager.NavigateTo("/customers/");
    }
}
